# dependendencies and environments
node_modules/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/

# configuration files and sensitive data 
.env
drone-route-auth/.env
config.json
secrets.json

# Docker
docker-compose.override.yml

# Logs
logs/
*.log
drone-route-server/logs/
drone-route-client/logs/

.cursor/